html { 
  height: 100%; 
  margin: 0;
}

body { 
  height: 100%;
  margin: 0;
  padding: 0 
}

#map-canvas {
  height: 100%;
}

#search_bar {
  position: absolute;
  top: 20px;
  left: 100px;
}

#event_info {
  position: absolute;
  top: 50px;
  right: 5px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  opacity: 0.5;
}
#content {width: 100%; height: 100%}

#left_sidebar {width: 100px; height: 100%; float: left; background-color: red}
#right_sidebar {margin-left: 100px; height: 100%; background-color: green}

#event_search {
  width:400px;
}

#category_search {
  width:300px;
}

#location_search {
  width:300px;
}

#info {
  width:500px;
  height:100px;
  position: absolute;
  left:10px;
  bottom:10px;
}

#info_png {
  width:30px;
  height:30px;
}

#info_txt {
  position:relative;

}
