html { 
  height: 100% 
}

body { 
  height: 100%;
  margin: 0;
  padding: 0 
}

#map-canvas {
  height: 100%
}

#search_bar {
  position: absolute;
  top: 20px;
  left: 100px;
}

#event_info {
  position: absolute;
  top: 50px;
  right: 5px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  opacity: 0.5;
}

#event_search {
  width:400px;
}

#category_search {
  width:300px;
}

#location_search {
  width:300px;
}

#info {
  width:30px;
  height:30px;
  position: absolute;
  left:10px;
  bottom:10px;
}

#info_png {
  width:30px;
  height:30px;
}

#info_txt {
}