

html { 
  height: 100%; 
  margin: 0;
}

body { 
  height: 100%;
  margin: 0;
  padding: 0;
  padding-left: 0px !important;
    padding-right: 0px !important; 
}

@media (min-width: 980px) {
#map_area {
  padding-right:0px;
  padding-left:0%;
  height:100%;
  margin-left:0px;
  width: 75%;
  }
}

@media (max-width: 979px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
    }
#map_area {
  padding-right:0px;
  padding-left:0%;
  height:100%;
  margin-left:0px;
  width: 100%;
  }
}

#map-canvas {
  height: 100%;
}

#map-canvas label { width: auto; display:inline; }
#map-canvas img { max-width: none; }

#search_bar {
  position: absolute;
  top: 20px;
  left: 100px;
}

#event_info {
  position: absolute;
  top: 50px;
  right: 5px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  opacity: 0.5;
}
#sidebar {
  padding-right:0px;
  overflow: scroll;
  padding-left:0%;
  width: 25%;
  height:100%;
  margin-left:0px;
  background-color:#FC8890;
}
.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
    background-color: rgba(78, 133, 216, 0.1) !important;
}
.table-striped tbody>tr:nth-child(even)>td, .table-striped tbody>tr:nth-child(odd)>th {
background-color: rgba(19, 133, 155, 0.14) !important;
}

#sidebar_title {
  display: inline;
  text-align: center;
  margin: 10px;
}
#events_table {
  height: 100%;
  background-color:#FFFFFF;
  border: 1px;
  border-color:#FFFFFF;
  border-style: outset;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

#content {
  max-width: 400px;
}

#events_well {
  padding:0px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background-color:#F7E4E4;
}
#event_search {
  width:400px;
}

#category_search {
  width:300px;
}

#location_search {
  width:300px;
}

#head {
  display: inline-block;
}

#logo {
  width:35px;
  /*display: block;*/
  height: 35px;
  float: left;
  margin-top: 5px;
}

#info {
  width:500px;
  height:100px;
  position: absolute;
  left:10px;
  bottom:10px;
}

#info_png {
  width:30px;
  height:30px;
}

#info_txt {
  position:relative;

}

#logo {
  height:50px;
  width:50px;
}
