<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />

    <link rel="stylesheet" href="/static/css/app.css" type="text/css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/oms.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">

    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript">
      var events = parse_events("{{ events }}");
    </script>
    <script type="text/javascript" src="/static/js/map.js"></script>

    <title>WesHappening</title>

  </head>
  <body>
    <div class="navbar navbar-inverse hidden-desktop">
      <div class="navbar-inner">
        <a class="brand" href="/">WesHappening</a>
        <ul class="nav">
          <li class="pull "><a href="#">About</a></li>
        </ul>
      </div>
    </div>
    <div class="span2 visible-desktop" id="sidebar"> 
      <div class="well" id="events_well">
        <div id="head">
          <img align="middle" id="logo" src="/static/images/logo.png" alt="Logo" />
          <h3 id="sidebar_title" href="/">WesHappening</h3>
        </div>
        <div id="search_div">
          <form id="search_form">
            <label id="search_label" for="search_bar"></label>
            <input type="text" id="search_input" placeholder="See what's happening!">
          </form>
        </div>
        <table class="table table-striped" id="events_table">
          <thread>
            <tr>
              <th>Name</th>
              <th>Time</th>
            </tr>
          </thread>
          <tbody id="events_tb">
            {% for i in events2 %}
              <tr>
                <td id="{{i.name}}" style="width: 50%;" class="event_name"><a href="#{{ i.name }}">{{i.name}}</a></td>
                <td style="width: 50%;">{{i.time}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div>
          This site was created by 
        </div>
      </div>
    </div>
    <div class="span10 offset3" id="map_area">
      <div id="map-canvas">
      </div>
    </div>
  </body>
</html>

