<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="/static/css/app.css" type="text/css">
    <link rel="stylesheet" href="/static/css/chosen.min.css" type="text/css">

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="static/js/chosen.jquery.min.js"></script>

    <script type="text/javascript" src="/static/js/map.js"></script>
    <script type="text/javascript" src="/static/js/search.js"></script>
    <script type="text/javascript" src="/static/js/sliderbox.js"></script>

  </head>
  <body>
    <div id="map-canvas"></div>
    <div id="search_bar">
      <h1 id="search_title" class="search">WesHappening</h1>
      <select id="event_search" multiple="true" style="width:400px;">
        {% for item in events %}
        <option>{{ item }}</option>
        {% endfor %}
      </select>
      <select id="category_search" multiple="true" style="width:200px;">
        {% for item in categories %}
        <option>{{ item }}</option>
        {% endfor %}
      </select>
      <select id="location_search" multiple="true" style="width:200px;">
        {% for item in locations %}
        <option>{{ item.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div title="Show panel" id="event_info">
      <p>Event Info</p>
    </div>
    
  </body>
</html>

<!--https://www.google.com/maps/preview?authuser=0#!q=69+Fountain+Avenue%2C+69+Fountain+Ave%2C+Middletown%2C+CT+06457&data=!4m10!1m9!4m8!1m3!1d14602!2d-72.6612454!3d41.5526833!3m2!1i954!2i939!4f13.1-->
